/FanControl.PowerShell/bin
/FanControl.PowerShell/obj
/FanControl.PowerShell.Console/bin
/FanControl.PowerShell.Console/obj
/.vs
/FanControl.PowerShell/FanControl.PowerShell.csproj.user
/FanControl.PowerShell.Console/FanControl.PowerShell.Console.csproj.user
/releases
/package
